name: cargo-publish

concurrency:
  cancel-in-progress: false
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

on:
  repository_dispatch:
    types: [crates-io, cargo-publish]
  workflow_dispatch:

jobs:
  crates-io:
    runs-on: ubuntu-latest
    environment:
      name: crates-io
    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    permissions:
      contents: read
      deployments: write
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        package:
          - rshyper-core
          - rshyper-algo
          - rshyper-hmap
          - rshyper
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Publish (${{ matrix.package }})
        run: cargo publish --locked --package ${{ matrix.package }}
